@import "tailwindcss";

body {
  background-color: rebeccapurple;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .step {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
} */

/* .step > div {
  flex: 0 0 100%;
  width: 100%;
} */

/* Swipe animations */
/* .slide-in-right {
  animation: slideInRight 0.5s ease-in-out forwards;
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */
